@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --padding-container:100px 0;
    --color-title: #a85405;
    --color-animacion: rgba(7, 7, 7, 0.418);
    --color-naranja: #f1600c;
    --color-naranja-oscuro: #74310a;
    --font-titulos: 3rem;
    --font-subtitulos: 1.7rem;
    --font-texto-normal: 1.2rem;
    --font-texto-pequenio: 1.1rem;
    --border-radius: 4px;
    --color-gris: #F4F4F4;
    --color-gris-oscuro: #dfdbdb;
}

#nprogress .bar{
    background: var(--color-naranja) !important;
}

#nprogress .spinner-icon{
    /* border-top-color: #fff !important;
    border-left-color: #fff !important; */
    border-top-color: var(--color-naranja) !important;
    border-left-color: var(--color-naranja) !important;
}

body{
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background: var(--color-naranja);
    border-radius: 45px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: SlideBG 15s linear infinite 0s;
    animation-timing-function: ease-in-out; 
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0 98%);
    z-index: -1;
}

@keyframes SlideBG{

    0% {
        background: url('/slider-1.jpg');
	    background-color: var(--color-animacion);
        background-blend-mode: soft-light;
        background-attachment: fixed;
    }

    50% {
        background: url('/slider-2.jpg');
	    background-color: var(--color-animacion);
        background-blend-mode: soft-light;
        background-attachment: fixed;
    }

    75% {
        background: url('/slider-1.jpg');
	    background-color: var(--color-animacion);
        background-blend-mode: soft-light;
        background-attachment: fixed;
    }

    100% {
        background: url('/slider-2.jpg');
	    background-color: var(--color-animacion);
        background-attachment: fixed;
        background-blend-mode: soft-light;
    }

    75% {
        background: url('/slider-1.jpg') ;
	    background-color: var(--color-animacion);
        background-blend-mode: soft-light;
        background-attachment: fixed;
    }

    50% {
        background: url('/slider-2.jpg');
	    background-color: var(--color-animacion);
        background-attachment: fixed;
        background-blend-mode: soft-light;
    }

    25% {
        background: url('/slider-1.jpg');
	    background-color: var(--color-animacion);
        background-attachment: fixed;
        background-blend-mode: soft-light;
    }

    0% {
        background: url('/slider-2.jpg') ;
	    background-color: var(--color-animacion);
        background-attachment: fixed;
        background-blend-mode: soft-light;

    }
}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 400;
    font-size: var(--font-subtitulos);
}

.nav_items{
    list-style: none;
    
}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: flex;
}

.nav_links{
    color: #fff;
    text-decoration: none;
    padding: 0.3rem 1.1rem;
    margin: 0 2px;
    font-size: var(--font-texto-pequenio);
}

.nav_links:hover{
    background-color: var(--color-naranja);
    border-radius: var(--border-radius);
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

/* -----------Encabezado------------ */

.hero_container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 5rem;
}

.hero_texto{
    margin-bottom: 20px;
    font-size: var(--font-subtitulos);
}

.cta{
    text-align: center;
    display: inline-block;
    background-color: var(--color-naranja);
    color: #fff;
    text-decoration: none;
    justify-self: center;
    padding: 10px 12px;
    font-size: var(--font-texto-normal);
    border: var(--color-naranja) solid 3px;
    border-radius: var(--border-radius);
}

.cta:hover{
    background-color: #2090f900;
    border: var(--color-naranja) solid 3px;
}

/* -------------Bienvenida--------- */

.containerWP{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida{
    width: 50%;
    background-color: var(--color-gris);
    border-radius: 4px 0 0 4px;
    border-bottom: 5px solid var(--color-naranja-oscuro);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.281));
}

.bienvenida_titulo,
.bienvenida_texto,
.servicios-titulo,
.trabajos-titulo{
    color: var(--color-naranja-oscuro);
}

.bienvenida_titulo{
    font-size: var(--font-titulos);
    padding-top: 50px;
    padding-left: 25px;
}

.bienvenida_texto{
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: justify;
    padding: 50px;
}


.img_bienvenida{
    width: 40%;
    border-radius: var(--border-radius);
}

.year{
    position: absolute;
    right: 90px;
    background-color: var(--color-gris);
    text-align: center;
    color: var(--color-naranja-oscuro);
    border-bottom: 5px solid var(--color-naranja-oscuro);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.281));
    border-radius: var(--border-radius);
}

.year-title{
    font-size: 5rem;
}

@keyframes escribir{
    from {
        width: 0;
    }
}

@keyframes blin{
    50% {
        border-color: transparent;
    }
}

.year-text{
    margin: 0 10px 15px 10px;
    font-size: var(--font-texto-pequenio);
}

/* ------------Servicios--------- */
.bg-servicios{
    background-color: var(--color-gris-oscuro);
    margin: 50px 0 30px 0;
}

.servi{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.servicios-titulo{
    text-align: center;
    font-size: var(--font-titulos);
    margin: 70px auto 40px ;
}

.trabajos-titulo{
    text-align: center;
    font-size: var(--font-titulos);
    margin: 40px auto;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-margen{
    margin: 30px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.281));
    box-shadow: none !important;
}

.overhid{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover{
    transform: scale(1.25);
}

.icono-servicios{
    font-size: 3rem !important;
    color: var(--color-naranja-oscuro);
    margin: auto;
}

.ml-2{
    color: #fff;
}

.mtb-5{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.mb-4{
    margin-bottom: 12px;
}

.d-flex{
    display: flex;
}

.m-auto{
    margin: auto !important;
}

.pt-0{
    padding-top: 0 !important;
}

.font-work{
    font-size: 2rem !important;
    color: var(--color-naranja-oscuro);
}

/* carousel */

.flex-column{
    flex-direction: column;
}

.cliente1,
.cliente2,
.cliente5{
    width: 200px;
}

.cliente3,
.cliente7{
    width: 480px;
}

.cliente4{
    width: 200px;
    border-radius: 50%;

}

.cliente6{ width: 350px; }
.mx-15{ margin: 0 30px; }
.mx-10{ margin: 0 15px; }

.clientes-titulo{
    text-align: center;
    font-size: var(--font-titulos);
    margin: 0 auto;
    color: var(--color-naranja-oscuro);
}

.clientes-subtitulo{
    text-align: center;
    font-size: var(--font-texto-normal);
    margin: 25px auto;
    color: var(--color-naranja-oscuro);
}

.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 1100px;}
	
.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 236px;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(250px * 14);
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

/* certificaciones */

.certificacion{
    width: 100%;
    height: 100vh;
    min-height: 575px;
    max-height: 575px;
    position: relative;
    color: #fff;
}

.certificacion::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/banner-bg.jpg');
    background-color: rgba(7, 7, 7, 0.550);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

.cert1{ width: 15%; }
.cert2{ width: 14%; }
.cert3{ width: 17%; }
.cert4{ width: 17%; }
.cert5{ width: 30%; }
.cert6{ width: 30%; }
.cert7{ width: 30%; }

.bg-white{
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
}

.cert-center{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.my-5{
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-center{
    text-align: center;
    margin: 20px auto;
    font-size: var(--font-titulos);
}

.containe{
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.mt-20{
    margin-top: 50px;
}