@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --padding-container:100px 0;
    --color-title: #a85405;
    --color-animacion: rgba(7, 7, 7, 0.418);
    --color-naranja: #f1600c;
    --color-naranja-oscuro: #74310a;
    --font-titulos: 3rem;
    --font-subtitulos: 1.7rem;
    --font-texto-normal: 1.2rem;
    --font-texto-pequenio: 1.1rem;
    --border-radius: 4px;
    --color-gris: #F4F4F4;
    --color-gris-oscuro: #dfdbdb;
}

::selection {
    color: #fff;
    background: #f1600c;
}

#nprogress .bar{ background: var(--color-naranja) !important; }
#nprogress .spinner-icon{
    border-top-color: var(--color-naranja) !important;
    border-left-color: var(--color-naranja) !important;
}

body{ font-family: 'Roboto', sans-serif; }
body::-webkit-scrollbar{ width: 7px; }
body::-webkit-scrollbar-thumb{
    background: var(--color-naranja);
    border-radius: 4px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.logo_cti{ width: 13%; }
.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: SlideBG 15s linear infinite 0s;
    animation-timing-function: ease-in-out; 
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0 98%);
    z-index: -1;
}

@keyframes SlideBG{

    0% {
        background: url('/slider-1.jpg');
	    background-color: var(--color-animacion);
        background-blend-mode: soft-light;
        background-attachment: fixed;
    }

    50% {
        background: url('/slider-2.jpg');
	    background-color: var(--color-animacion);
        background-blend-mode: soft-light;
        background-attachment: fixed;
    }

    75% {
        background: url('/slider-1.jpg');
	    background-color: var(--color-animacion);
        background-blend-mode: soft-light;
        background-attachment: fixed;
    }

    100% {
        background: url('/slider-2.jpg');
	    background-color: var(--color-animacion);
        background-attachment: fixed;
        background-blend-mode: soft-light;
    }

    75% {
        background: url('/slider-1.jpg') ;
	    background-color: var(--color-animacion);
        background-blend-mode: soft-light;
        background-attachment: fixed;
    }

    50% {
        background: url('/slider-2.jpg');
	    background-color: var(--color-animacion);
        background-attachment: fixed;
        background-blend-mode: soft-light;
    }

    25% {
        background: url('/slider-1.jpg');
	    background-color: var(--color-animacion);
        background-attachment: fixed;
        background-blend-mode: soft-light;
    }

    0% {
        background: url('/slider-2.jpg') ;
	    background-color: var(--color-animacion);
        background-attachment: fixed;
        background-blend-mode: soft-light;

    }
}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 400;
    font-size: var(--font-subtitulos);
}

.nav_items{ list-style: none; }
.nav_link{
    margin-left: auto;
    padding: 0;
    display: flex;
}

.nav_links{
    color: #fff;
    text-decoration: none;
    padding: 0.3rem 1.1rem;
    margin: 0 2px;
    font-size: var(--font-texto-pequenio);
}

.nav_links:hover{
    background-color: var(--color-naranja);
    border-radius: var(--border-radius);
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{ display: var(--show, none); }
.nav_logo{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

/* -----------Encabezado------------ */

.hero_container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{ font-size: 5rem; }
.hero_texto{
    margin-bottom: 20px;
    font-size: var(--font-subtitulos);
}

.cta{
    text-align: center;
    display: inline-block;
    background-color: var(--color-naranja);
    color: #fff;
    text-decoration: none;
    justify-self: center;
    padding: 10px 12px;
    font-size: var(--font-texto-normal);
    border: var(--color-naranja) solid 3px;
    border-radius: var(--border-radius);
}

.cta:hover{
    background-color: #2090f900;
    border: var(--color-naranja) solid 3px;
}

/* -------------Bienvenida--------- */

.containerWP{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida{
    width: 65%;
    background-color: var(--color-gris);
    border-radius: 4px 0 0 4px;
    border-bottom: 5px solid var(--color-naranja-oscuro);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.281));
    overflow: hidden;
}

.bienvenida_titulo,
.bienvenida_texto,
.servicios-titulo,
.trabajos-titulo{
    color: var(--color-naranja-oscuro);
}

.bienvenida_titulo{
    font-size: var(--font-titulos);
    padding-top: 50px;
    padding-left: 25px;
}

.bienvenida_texto{
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: justify;
    padding: 50px;
}

.p-10{ padding: 25px; }
.img_bienvenida{
    width: 40%;
    border-radius: var(--border-radius);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.281));
}

.year{
    position: relative;
    right: 10px;
    background-color: var(--color-gris);
    text-align: center;
    color: var(--color-naranja-oscuro);
    border-bottom: 5px solid var(--color-naranja-oscuro);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.281));
    border-radius: var(--border-radius);
    overflow: hidden;
}

.year-title{ font-size: 5rem;}
.year-text{
    margin: 0 10px 15px 10px;
    font-size: var(--font-texto-pequenio);
}

/* ------------Servicios--------- */
.bg-servicios{
    background-color: var(--color-gris-oscuro);
    margin: 50px 0 30px 0;
}

.servi{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.servicios-titulo{
    text-align: center;
    font-size: var(--font-titulos);
    margin: 70px auto 40px ;
}

.trabajos-titulo{
    text-align: center;
    font-size: var(--font-titulos);
    margin: 40px auto;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-margen{
    margin: 30px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.281));
    box-shadow: none !important;
}

.overhid{ overflow: hidden; }
.card-img-top{
    transform: scale(1) !important;
    transition: all 0.2s ease-in-out !important;
}

.card-img-top:hover{ transform: scale(1.25) !important; }

.icono-servicios{
    font-size: 3rem !important;
    color: var(--color-naranja-oscuro);
    margin: auto;
}

.ml-2{ color: #fff; }
.mtb-5{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.mb-4{ margin-bottom: 12px; }
.d-flex{ display: flex; }
.m-auto{ margin: auto !important; }
.pt-0{ padding-top: 0 !important; }
.font-work{
    font-size: 2rem !important;
    color: var(--color-naranja-oscuro);
}

/* carousel */
.flex-column{ flex-direction: column; }
.cliente1,
.cliente2,
.cliente5{
    width: 200px;
}

.cliente3,
.cliente7{
    width: 480px;
}

.cliente4{
    width: 200px;
    border-radius: 50%;

}

.cliente6{ width: 350px; }
.mx-15{ margin: 0 30px; }
.mx-10{ margin: 0 15px; }
.clientes-titulo{
    text-align: center;
    font-size: var(--font-titulos);
    margin: 0 auto;
    color: var(--color-naranja-oscuro);
}

.clientes-subtitulo{
    text-align: center;
    font-size: var(--font-texto-normal);
    margin: 25px auto;
    color: var(--color-naranja-oscuro);
}

.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 1100px;}
	
.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 236px;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(250px * 14);
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

/* certificaciones */

.certificacion{
    width: 100%;
    height: 100vh;
    min-height: 575px;
    max-height: 575px;
    position: relative;
    color: #fff;
}

.certificacion::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/banner-bg.jpg');
    background-color: rgba(7, 7, 7, 0.550);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

.cert1{ width: 15%; }
.cert2{ width: 14%; }
.cert3{ width: 17%; }
.cert4{ width: 17%; }
.cert5{ width: 30%; }
.cert6{ width: 30%; }
.cert7{ width: 30%; }
.bg-white{
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
}

.cert-center{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.my-5{
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-center{
    text-align: center;
    margin: 20px auto;
    font-size: var(--font-titulos);
}

.containe{
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.mt-20{ margin-top: 50px;}

/* footer */

.bg-footer{
    background-color: #0B0D17;
    color: #fff;
    height: 350px;
    padding: 70px 0 30px 0;
}

.footer-container{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-blocks{
    display: flex;
    justify-content: space-between;
}

.footer-block{ margin: 0 20px; }

.block1-title{
    color: #f1a026;
    font-size: 2rem;
    margin-bottom: 20px;
}

.icons{
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
}

.icons a { color: #fff; }
.block4{ width: 25%; }
.block2 a,
.block4 a{
    text-decoration: none;
    color: #F4F4F4;
    display: block;
}

.block2 a:hover,
.block4 a:hover,
.icons a:hover{
    color: #f1a026;
}

.footer-derechos{
    display: flex;
    justify-content: space-between;
}

.footer-derechos p{ display: inline; }
.block4-icon{
    font-size: 1.4rem !important;
    margin-right: 4px;
}

.block2 a,
.block3 p,
.block4 a,
.block4 .footer-cen,
.block4-title{
    margin-bottom: 15px;
}

.block3-title,
.block4-title{
    font-size: 1.4rem;
    color: #f1a026;
}

.footer-cen{
    display: flex !important;
    align-items: center !important;
}

/* Página NOSOTROS */

.bg-nosotros{
    height: 500px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.nosotros-texto{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0 40px;
    line-height: 2.15;
}

.nosotros-titulo{
    color: var(--color-naranja-oscuro);
    font-size: var(--font-titulos);
}
.nosotros-text{ font-size: var(--font-texto-normal); }

/* Misión */

.mis-vis{
    min-height: 450px;
    background-image: url('/ordenaz-1200x430.jpg');
    background-size: cover;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    
}

.bloques-mis{
    display: flex;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
}

.vis,
.mis{
    background-color: #fff;
    width: 450px;
    padding: 35px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.281));
    text-align: justify;
    line-height: 1.8;
    position: relative;
}

.vis h1,
.mis h1{
    color: var(--color-naranja-oscuro);
    font-size:2.2rem;
}

.vis{ top: 145px; }
.mis{ bottom: 145px; }

/* soluciones */

.soluciones-header,
.contacto-header,
.about-header,
.blog-header{
    width: 100%;
    min-height: 550px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.soluciones-header::before{ background: url('/page-title-bg-2.jpg'); }
.contacto-header::before{ background: url('/banner-bg.jpg'); }
.about-header::before{ background: url('/banner2.jpg'); }
.blog-header::before{ background: url('/abo.jpg'); }

.soluciones-header::before,
.contacto-header::before,
.about-header::before,
.blog-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-animacion);
    background-blend-mode: soft-light;
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0 98%);
    z-index: -1;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.servicio{
    display: flex;
    align-items: center;
    padding: 35px;
}

.reverse{ flex-direction: row-reverse; }

.servicio img{
    border-radius: 6px;
    width: 40%;
}

.servicio-texto{ padding: 20px; }
.servicio-texto h1{
    color: var(--color-naranja-oscuro);
    text-align: center;
}

.servicio-texto p{
    margin: 15px 0;
    line-height: 1.8;
    text-align: justify;
}

.decoration-none{
    text-decoration: none;
    color: #fff;
}

/* mapa */

.area-mapa{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.contacto-cont{
    height: 100%;
    width: 160%;
    background: #F4F4F4;
    filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.281));
    border-radius: 5px;
    position: relative;
    right: 120px;
    z-index: 2;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacto_ico{ font-size: 2.3rem; }

.titulo_mapa{
    text-align: center;
    color: var(--color-naranja-oscuro);
    font-size: var(--font-titulos);
}

.contacto1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto_logo{ width: 15%; }

.contacto_texto{
    width: 85%;
    text-align: center;
}

.contacto_titulo{
    color: var(--color-naranja-oscuro);
    font-size: var(--font-texto-normal);
    margin-bottom: 5px;
}

.leaflet-container{
    width: 82%;
    height: 100%;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.281));
}

.area-contacto{ 
    width: 18%;
    height: 80%;
}

.contacto_HiLocationMarker{ color: #f7199a; }
.contacto_HiMail{ color: #2888f5; }
.contacto_HiPhoneOutgoing { color: #0c992a;}

.leaflet-control-attribution{  visibility: hidden !important; }
.my-25{ margin: 4% 0; }

.titulo-diferencia{
    font-size: 2.2rem;
    color: var(--color-naranja-oscuro);
}

.diferencia{
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-diferencia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-dif{ font-size: 3.5rem; }
.p-dif{
    padding: 10px;
    width: 290px;
}

.p-dif p{ line-height: 1.8; }

/* Formulario */

.formulario {
	min-width: 600px;
    max-width: 750px;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.281));
}

.formulario > div { margin-bottom: 20px; }
.formulario label {
	display: block;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 11px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 120px;
    min-height: 120px;
}

.formulario input:focus,
.formulario textarea:focus {
	outline: none;
	border: 2px solid var(--color-naranja-oscuro);
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: var(--color-title);
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 30%;
    margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.btnContact{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.sendMail{
    color: #dfdbdb;
    font-size: 1.1rem;
}

.formulario button[type="submit"]:hover { background: var(--color-naranja-oscuro); }

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #129212;
}

.correo-tel{ width: 48%; }

/*------------ blog ----------*/
.blog .heading { text-align: center; }
.blog h2 { margin: 20px 0; }
.blog .text { margin: 0; }

.blog span {
    opacity: 0.5;
    font-size: 15px;
}

.blog a {
    color: var(--color-naranja);
    display: block;
    line-height: 20px;
    text-decoration: none;
}

.blog a .icon { padding-top: 10px; }
.cont {
    text-align: center;
    background-color: #f8f9fe;
    padding: 50px 0;
}

.conteni {
    max-width: 80%;
    margin: auto;
}


.cont img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cont .text {
    background: #fff;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 6%);
    padding: 30px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}
  
.cont .text h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.box { text-align: left; }
  /*------------ blog ----------*/